body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #153243, #284B63);
}
img{
    width: 150px;
    border-radius: 10%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;

}

.vakken{
    display: flex;
    justify-content: center;
}

.vak-links{
    padding: 20px;

    margin: 10px;
    background-image: linear-gradient(to bottom, #153243, #284B63);
    border-radius: 10px;
}

.vak-rechts{
    display: flex;
    padding: 60px;
    margin: 10px;
    border-radius: 10px;
    background-color: #F9F9F9;
}
.gegevens{
    padding: 10px;

    color: white;
}


.soft-skills{
    padding: 10px;
    color: white;
}
.hard-skills{
    padding: 10px;
    color: white;
}
.diploma{
    padding: 10px;
    color: white;
}
.taal{
    padding: 10px;
    color: white;
}
.vak-rechts td{
    
    padding: 10px;
    border: 3px solid #284B63;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}



.vak-rechts td:hover{
    transform: scale(1.01);
    border: 4px solid #40729b;
}

footer{
    color: white;
    display: flex;
    background-image: linear-gradient(to left, #284B63, #153243, #284B63);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}
footer a:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.opdracht{
    color: white;

    padding: 20px;

}
.naam{
    color: white;
    text-align: left;
    padding: 20px;

}
.top{
    margin-left: 50px;
    display: flex;
    
    background-color: #284B63;


    border-radius: 10px;
}

@media screen and (width < 576px) {
    .vak-rechts {
        padding: 10px;
    }
}
@media screen and (min-width: 992px) {
    .img {grid-area: 1 / span 6;}
    .vak-links {grid-area: 2 / span 1;}
    .vak-rechts {grid-area: 2 / span 4;}
    .footer {grid-area: 3 / span 6;}
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .img {grid-area: 1 / span 6;}
    .vak-links {grid-area: 2 / span 1;}
    .vak-rechts {grid-area: 2 / span 4;}
    .footer {grid-area: 3 / span 6;}
}



