body{
}
img{
    width: 150px;
}

.vakken{
    display: flex;
    justify-content: center;
}

.vak-links{
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
}

.vak-rechts{
    padding: 20px;
    border: 1px solid black;
    margin: 2px;
}
